body {
    background-color: azure;
}

.caixa {
    padding: 50px;
    margin: 20px;
    background-color: rgb(242, 255, 127);

}






















































































































































































































































































































































































































































































































































































































