#cabecalho {
    width: 100%;
    position:fixed;
    top: 0%;
    padding: 10px;
    background-color: rgb(66, 86, 128);
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: azure;
}

.caixa{
    padding: 20px;
    margin: 20px;
    background-color: rgb(242, 255, 127);

}






















































































































































































































































































































































































































































































































































































































